<div  data-layout="col" style="">
				<span >
					<strong>
						{% comment %} <h5  style="color:black;padding-bottom:1rem;">FREE CHAPTER<br/> OF <br/>RISE <small style="color:black;">AND</small> GRIND</h5> {% endcomment %}
						<script src="//static.leadpages.net/leadboxes/current/embed.js" async defer></script> <a data-leadbox-popup="akwaGWhNheWbzu9L6LKcd3" data-leadbox-domain="daymondjohn.lpages.co" style=""><img src="https://cdn.shopify.com/s/files/1/0274/9575/files/transparent.png?3153451914570561594" style="overflow:hidden;width:100vw;"/></a> 
					</strong>
				</span>
</div>
{% comment %}  {% endcomment %}