<form data-thank-you="https://DaymondJohn.com/pages/Thank-You" action="https://api.leadpages.io/integration/v1/forms/V6vizhEUf32d5gsC8rXMqe/submissions" data-backup-host="https://optin-snf-dot-lead-pages.appspot.com" data-form-id="5733311175458816" method="POST" accept-charset="UTF-8" target="_top" onsubmit="return false;"><div class="widget-column flex__item--md-12 flex__item--xs-12"><div class="widget-row flex flex--12"><div class="flex__item--md-12 flex__item--xs-12 widget-widget"><div class="widget" data-widget-id="d89a258b-6bd4-8b85-a3e9-cd89495597cf"><style>.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react__input {
    border: 1px solid rgba(76, 81, 93, 1);
    color: #020020;
    font-size: inherit;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react__input:focus {
    border: 1px solid rgba(76, 81, 93, 1);
    box-shadow: rgba(76, 81, 93, 1) 0 0 1.5px 1px;
    outline: 0;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react__input::-webkit-input-placeholder {
    color: #b1bacc;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react__input::-moz-placeholder {
    color: #b1bacc;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react__input:-ms-input-placeholder {
    color: #b1bacc;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react__input::placeholder {
    color: #b1bacc;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react__label {
    color: rgba(76, 81, 93, 1);
    font-family: Roboto;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .labels-are-inside .lp-form-react__input {
    color: #020020;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .labels-are-inside .lp-form-react__input::-webkit-input-placeholder {
    color: rgba(76, 81, 93, 1);
    font-family: Roboto;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .labels-are-inside .lp-form-react__input::-moz-placeholder {
    color: rgba(76, 81, 93, 1);
    font-family: Roboto;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .labels-are-inside .lp-form-react__input:-ms-input-placeholder {
    color: rgba(76, 81, 93, 1);
    font-family: Roboto;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .labels-are-inside .lp-form-react__input::placeholder {
    color: rgba(76, 81, 93, 1);
    font-family: Roboto;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react-radio {
    font-family:Roboto;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react-radio + label {
    color:rgba(76, 81, 93, 1);
    font-family:Roboto;
}
/* TODO: Fogo look into if this is needed to be super specific like this */
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react-radio + label .lp-form-react-radio-button__unchecked path, .lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react-radio + label .lp-form-react-radio-button__checked path {
    fill: rgba(76, 81, 93, 1);
}
/*TODO: do we need the redundant element and class selector*/
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf select.lp-form-react-select {
    border: 1px solid rgba(76, 81, 93, 1);
    font-family:Roboto;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf select.lp-form-react-select:focus {
    outline-color: rgba(76, 81, 93, 1);
}
/* TODO: uhh is this supposed to be nested under lp-form-react-select???*/
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf .lp-form-react__select-option {
    font-family:Roboto;
}
/* TODO: Fogo look into if this is needed to be super specific like this */
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf input.lp-form-react-checkbox[type='checkbox'] + label {
    color:rgba(76, 81, 93, 1);
    font-family:Roboto;
}
.lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf input.lp-form-react-checkbox[type='checkbox'] + label .checkbox__unchecked path, .lp-form-react.w-d89a258b-6bd4-8b85-a3e9-cd89495597cf input.lp-form-react-checkbox[type='checkbox'] + label .checkbox__checked path {
    fill:rgba(76, 81, 93, 1);
}
</style><div class="lp-form-react w-d89a258b-6bd4-8b85-a3e9-cd89495597cf" data-widget-type="LpInputReact"><div class="error-prompt"><div class="error-prompt__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 30"><path style="fill:#656A78;" d="M36.8 1h-30c-1.7 0-3 1.3-3 3v20c0 1.7 1.3 3 3 3h24.8c-0.1-0.1-0.1-0.1-0.2-0.2 -0.6-0.6-1-1.2-1.4-1.8H6.8c-0.5 0-1-0.5-1-1V12h32v2.1c0.7 0.1 1.4 0.3 2 0.6V4C39.8 2.3 38.5 1 36.8 1zM37.8 6h-32V4c0-0.5 0.5-1 1-1h30c0.5 0 1 0.5 1 1V6z"></path><path style="fill:#FA5A6A;" d="M36.7 14c2.1 0 3.8 0.7 5.3 2.2s2.2 3.2 2.2 5.3 -0.7 3.8-2.2 5.3S38.8 29 36.7 29s-3.8-0.7-5.3-2.2c-1.5-1.5-2.2-3.2-2.2-5.3s0.7-3.8 2.2-5.3C32.9 14.7 34.6 14 36.7 14zM37.4 22.2v-4.5h-1.5v4.5H37.4zM37.4 25.3v-1.5h-1.5v1.5H37.4z"></path></svg></div><div class="error-prompt__details"><p class="error-title">This checkout form is currently disabled.</p><p class="error-description">Please contact the site owner to ensure the account is connected and the page is secure.</p></div></div><div class="form-field font-scale-4"><div class="lp-form-react__group js-form-group" id="input-dc1f7d02e61b3a5f31e7169bf003689a-V6vizhEUf32d5gsC8rXMqe"><label class="lp-form-react__label"><span>E-mail</span><input type="email" autocomplete="email" class="lp-form-react__input js-input-mapping " id="dc1f7d02e61b3a5f31e7169bf003689a-V6vizhEUf32d5gsC8rXMqe" style="font-family:Roboto;" maxlength="500" placeholder="" name="dc1f7d02e61b3a5f31e7169bf003689a" required="" value=""></label><label class="lp-form-react__error lp-form-react__error--required"><i class="fa fa-exclamation-circle"></i><span>Please enter your E-mail</span></label><label class="lp-form-react__error lp-form-react__error--invalid"><i class="fa fa-exclamation-circle"></i><span>Please enter a valid E-mail</span></label></div></div><div class="form-field font-scale-4 last-visible"><div class="lp-form-react__group js-form-group" id="input-1e7e2987d2fb5028ac69a02e64219b7f-V6vizhEUf32d5gsC8rXMqe"><label class="lp-form-react__label"><span>First Name</span><input type="text" autocomplete="given-name" class="lp-form-react__input js-input-mapping " id="1e7e2987d2fb5028ac69a02e64219b7f-V6vizhEUf32d5gsC8rXMqe" style="font-family:Roboto;" maxlength="500" placeholder="" name="1e7e2987d2fb5028ac69a02e64219b7f" required="" value=""></label><label class="lp-form-react__error lp-form-react__error--required"><i class="fa fa-exclamation-circle"></i><span>Please enter your First Name</span></label><label class="lp-form-react__error lp-form-react__error--invalid"><i class="fa fa-exclamation-circle"></i><span>Please enter a valid First Name</span></label></div></div><div class="form-field font-scale-4 input-hidden"><div class="lp-form-react__group js-form-group" id="input-b1af2411ef8c0e87fcc9e864261369c8-V6vizhEUf32d5gsC8rXMqe"><label class="lp-form-react__label"><span>Infusionsoft System Field 1 (inf_form_xid)</span><input type="text" autocomplete="" class="lp-form-react__input js-input-mapping " id="b1af2411ef8c0e87fcc9e864261369c8-V6vizhEUf32d5gsC8rXMqe" style="font-family:Roboto;" maxlength="500" placeholder="" name="b1af2411ef8c0e87fcc9e864261369c8" value="898f8406d0abd618d41e44113d01e399"></label><label class="lp-form-react__error lp-form-react__error--required"><i class="fa fa-exclamation-circle"></i><span>Please enter your Infusionsoft System Field 1 (inf_form_xid)</span></label><label class="lp-form-react__error lp-form-react__error--invalid"><i class="fa fa-exclamation-circle"></i><span>Please enter a valid Infusionsoft System Field 1 (inf_form_xid)</span></label></div></div><div class="form-field font-scale-4 input-hidden"><div class="lp-form-react__group js-form-group" id="input-b1c7d206e2b603135c0ae9d95ae3d5b4-V6vizhEUf32d5gsC8rXMqe"><label class="lp-form-react__label"><span>Infusionsoft System Field 2 (inf_form_name)</span><input type="text" autocomplete="" class="lp-form-react__input js-input-mapping " id="b1c7d206e2b603135c0ae9d95ae3d5b4-V6vizhEUf32d5gsC8rXMqe" style="font-family:Roboto;" maxlength="500" placeholder="" name="b1c7d206e2b603135c0ae9d95ae3d5b4" value="DJ - 10. Marketing -&nbsp;~br~Sample SF 1 - Optin Form"></label><label class="lp-form-react__error lp-form-react__error--required"><i class="fa fa-exclamation-circle"></i><span>Please enter your Infusionsoft System Field 2 (inf_form_name)</span></label><label class="lp-form-react__error lp-form-react__error--invalid"><i class="fa fa-exclamation-circle"></i><span>Please enter a valid Infusionsoft System Field 2 (inf_form_name)</span></label></div></div><div class="form-field font-scale-4 input-hidden"><div class="lp-form-react__group js-form-group" id="input-16d6832123b85e95b510f575601435e3-V6vizhEUf32d5gsC8rXMqe"><label class="lp-form-react__label"><span>Infusionsoft System Field 3 (infusionsoft_version)</span><input type="text" autocomplete="" class="lp-form-react__input js-input-mapping " id="16d6832123b85e95b510f575601435e3-V6vizhEUf32d5gsC8rXMqe" style="font-family:Roboto;" maxlength="500" placeholder="" name="16d6832123b85e95b510f575601435e3" value="1.64.0.42"></label><label class="lp-form-react__error lp-form-react__error--required"><i class="fa fa-exclamation-circle"></i><span>Please enter your Infusionsoft System Field 3 (infusionsoft_version)</span></label><label class="lp-form-react__error lp-form-react__error--invalid"><i class="fa fa-exclamation-circle"></i><span>Please enter a valid Infusionsoft System Field 3 (infusionsoft_version)</span></label></div></div><div class="confirm-existence"><label class="confirm-existence__label" for="confirm-existence">If you are human, leave this blank.<input type="text" class="confirm-existence__input" name="confirm-existence"></label></div></div></div></div></div><div class="widget-row flex flex--12"><div class="flex__item--md-12 flex__item--xs-12 widget-widget"><div class="widget" data-widget-id="f69c3b86-622e-9b2d-71ba-b27e062e78d9"><style>.lp-button-react.w-f69c3b86-622e-9b2d-71ba-b27e062e78d9 {
  font-family: Roboto;

  border-radius: 7px;
}
.lp-button-react.w-f69c3b86-622e-9b2d-71ba-b27e062e78d9::before {
  border-radius: 7px;
}
.lp-button-react.w-f69c3b86-622e-9b2d-71ba-b27e062e78d9, .lp-button-react.w-f69c3b86-622e-9b2d-71ba-b27e062e78d9:focus, .lp-button-react.w-f69c3b86-622e-9b2d-71ba-b27e062e78d9:active {
  border-color: rgb(148, 144, 127);
  background: rgb(156, 133, 53);
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.lp-button-react.w-f69c3b86-622e-9b2d-71ba-b27e062e78d9::before {
  background: linear-gradient(rgb(207, 177, 70), rgb(178, 150, 46));
}
.lp-button-react.w-f69c3b86-622e-9b2d-71ba-b27e062e78d9:hover {
  border-color: rgb(156, 133, 53);
  color: rgb(0, 0, 0);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
}
</style><div class="lp-button-react-wrapper" data-widget-type="LpButtonReact"><button type="submit" class="lp-button-react w-f69c3b86-622e-9b2d-71ba-b27e062e78d9 lp-button-react--full is-bold lp-button-react--small lp-button-react--gradient font-scale-4 line-height-scale-3" formtarget="_top">Download This Free Sample</button></div></div></div></div></div></form>
