{% if block.settings.image != blank %}
              <div style='padding:20px 0;'class="container-section text-center">{{ block.settings.image | img_url: '1200x250' | img_tag: section.settings.image.alt, 'logo-bar__image' }}</div>
{% endif %}
