<div class="modals">
    <div class="overlay close-modal"></div>
    <div class="modal open" id="contact">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h2>Get in contact</h2>
            <h3 style="padding-top:20px;font-size: .9em;opacity: .5;">or call 1-888-806-6302</h3>
            {% include 'contact-us-form' %}
        </div>
    </div>

    <div class="modal open" id="workwithdaymond">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h2>Work with Daymond</h2>
            {% include 'work-with-daymond-form' %}
        </div>
    </div>
    <div class="modal open" id="consulting">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h2>Consulting</h2>
            {% include 'consulting-form' %}
        </div>
    </div>

    <!--===============
  Book Daymond Modal
  ================-->
    <div class="modal" id="book">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h2>Speaking Request</h2>
            {% include 'speaking-form' %}
        </div><!-- /.modal-inner -->
    </div><!-- #book.modal -->
                                
                                <!--===============
  PowershiftExtra Modal
  ================-->
    <div class="modal" id="ps-part0">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h2 style="margin-top: 1em;">PowerShift Your Life</h2>
            {% include 'ps-workbook0-form' %}
        </div><!-- /.modal-inner -->
    </div><!-- #ps-part0.modal -->

    <div class="modal" id="ps-part1">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h2 style="margin-top: 1em;">PowerShift Your Life</h2>
            {% include 'ps-workbook1-form' %}
        </div><!-- /.modal-inner -->
    </div><!-- #ps-part1.modal -->

    <div class="modal" id="ps-part2">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h2 style="margin-top: 1em;">PowerShift Your Life</h2>
            {% include 'ps-workbook2-form' %}
        </div><!-- /.modal-inner -->
    </div><!-- #ps-part2.modal -->

    <div class="modal" id="ps-part3">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h2 style="margin-top: 1em;">PowerShift Your Life</h2>
            {% include 'ps-workbook3-form' %}
        </div><!-- /.modal-inner -->
    </div><!-- #ps-part3.modal -->
                                            
                                <!--=========
  Thanks Modal
  ==========-->
    <div class="modal" id="thank-you">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h3></h3>
            <h2>Thank you</h2>
            <p>You'll hear from us soon.</p>
        </div><!-- /.modal-inner -->
    </div>

    <!--=========
  Thanks Modal Download Chapter + Guide
  ==========-->
    <div class="modal" id="thank-you-download-pob">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h3></h3>
            <h2>Thank you</h2>
            <p>Download Sharkpoint Guide:</p>
            <a class="button" download href="https://cdn.shopify.com/s/files/1/0274/9575/files/SharkpointGuide.pdf?9212383959923204217" target="_blank">Download</a>
            <br/>
            <p>Download Power of Broke Sample Chapter:</p>
            <a class="button" download href="https://cdn.shopify.com/s/files/1/0274/9575/files/ThePowerofBroke_SampleChapter.pdf?9212383959923204217" target="_blank">Download</a>
        </div><!-- /.modal-inner -->
    </div>

    <!--====================
  Default Redemption Form
  =====================-->
    <div class="modal" id="redemption">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h3>Redeem</h3>
            <h2>Your Exclusives</h2>
            <p>for Daymond's book, "The Power of Broke"</p>
            <form accept-charset="UTF-8" action="https://daymondjohn.wufoo.com/forms/w13gdviw1lvnvxo/#public" autocomplete="off" class="wufoo topLabel page" enctype="multipart/form-data" method="post" name="form3" novalidate="">
                <ul>
                    <li class="notranslate">
                        <label class="desc" for="redeem1_first_name">First Name<span class="req">*</span>
                        </label>
                        <div>
                            <input class="field text medium" id="redeem1_first_name" maxlength="255" name="Field1" onkeyup="" required="" tabindex="1" type="text" value="">
                        </div>
                    </li>
                    <li class="notranslate">
                        <label class="desc" for="redeem1_last_name">Last Name<span class="req">*</span>
                        </label>
                        <div>
                            <input class="field text medium" id="redeem1_last_name" maxlength="255" name="Field2" onkeyup="" required="" tabindex="2" type="text" value="">
                        </div>
                    </li>
                    <li class="notranslate">
                        <label class="desc" for="redeem1_email_address">Email Address
                            <span class="req">*</span>
                        </label>
                        <div>
                            <input class="field text medium" id="redeem1_email_address" maxlength="255" name="Field4" required="" spellcheck="false" tabindex="6" type="email" value="">
                        </div>
                    </li>
                    <li class="notranslate">
                        <label class="desc" for="redeem1_date">Today's Date
                            <span class="req">*</span>
                        </label>
                        <div>
                            <input class="field text medium" id="redeem1_date" maxlength="255" name="Field13" placeholder="DD/MM/YY" required="" spellcheck="false" tabindex="6" type="text" value="">
                        </div>
                    </li>
                    <li class="notranslate">
                        <label class="desc" for="redeem1_number_books">Number of Books Purchased
                            <span class="req">*</span>
                        </label>
                        <div>
                            <input class="field text medium" id="redeem1_number_books" maxlength="255" name="Field21" required="" spellcheck="false" tabindex="6" type="text" value="">
                        </div>
                    </li>


                    <li class="notranslate no-border checkboxes">
                        <h4 class="label">Choose Retailer</h4>
                        <div>

                            <span>
                                <input id="redeem1_retailer_amazon" name="Field15" type="checkbox" value="Amazon">
                                <label for="redeem1_retailer_amazon"><img src="//cdn.shopify.com/s/files/1/0274/9575/t/7/assets/retailer-icon-amazon.png?10441978674922734624"></label>
                            </span>
                            <span>
                                <input id="redeem1_retailer_bam" name="Field15" type="checkbox" value="Books A Million">
                                <label for="redeem1_retailer_bam"><img src="//cdn.shopify.com/s/files/1/0274/9575/t/7/assets/retailer-icon-bam.png?10441978674922734624"></label>
                            </span>
                            <span>
                                <input id="redeem1_retailer_barnes_noble" name="Field15" type="checkbox" value="Barnes &amp; Noble">
                                <label for="redeem1_retailer_barnes_noble"><img src="//cdn.shopify.com/s/files/1/0274/9575/t/7/assets/retailer-icon-barnes-noble.png?10441978674922734624"></label>
                            </span>
                            <span>
                                <input id="redeem1_retailer_indie_bound" name="Field15" type="checkbox" value="Indie Bound">
                                <label for="redeem1_retailer_indie_bound"><img src="//cdn.shopify.com/s/files/1/0274/9575/t/7/assets/retailer-icon-indie-bound.png?10441978674922734624"></label>
                            </span>
                            <span>
                                <input id="redeem1_retailer_powells" name="Field15" type="checkbox" value="Powell's">
                                <label for="redeem1_retailer_powells"><img src="//cdn.shopify.com/s/files/1/0274/9575/t/7/assets/retailer-icon-powells.png?10441978674922734624"></label>
                            </span>
                            <span>
                                <input id="redeem1_retailer_ibooks" name="Field15" type="checkbox" value="iBooks">
                                <label for="redeem1_retailer_ibooks"><img src="//cdn.shopify.com/s/files/1/0274/9575/t/7/assets/retailer-icon-ibooks.png?10441978674922734624"></label>
                            </span>
                            <span>
                                <input id="redeem1_retailer_google_play" name="Field15" type="checkbox" value="Google Play">
                                <label for="redeem1_retailer_google_play"><img src="//cdn.shopify.com/s/files/1/0274/9575/t/7/assets/retailer-icon-google-play.png?10441978674922734624"></label>
                            </span>
                            <span>
                                <input id="redeem1_retailer_800_ceo" name="Field15" type="checkbox" value="800 CEO">
                                <label for="redeem1_retailer_800_ceo"><img src="//cdn.shopify.com/s/files/1/0274/9575/t/7/assets/retailer-icon-800-ceo.png?10441978674922734624"></label>
                            </span>
                            <span>
                                <input id="redeem1_retailer_bookpal" name="Field15" type="checkbox" value="bookpal">
                                <label for="redeem1_retailer_bookpal"><img src="//cdn.shopify.com/s/files/1/0274/9575/t/7/assets/retailer-icon-book-pal.png?10441978674922734624"></label>
                            </span>

                        </div>
                    </li>


                    <li class="notranslate">
                        <label class="desc" for="redeem1_other_retailer">Other Retailer</label>
                        <div>
                            <input class="field text medium" id="redeem1_other_retailer" maxlength="255" name="Field17" onkeyup="" tabindex="33" type="text" value="">
                        </div>
                    </li>
                    <li class="notranslate">
                        <label class="desc" for="redeem1_receipt">Pre-Order Receipt or Pre-Order Confirmation Number</label>
                        <div>
                            <input class="field text medium" id="redeem1_receipt" maxlength="255" name="Field19" onkeyup="" tabindex="33" type="text" value="">
                        </div>
                    </li>
                    <li class="buttons ">
                        <div>
                            <input class="button" id="saveForm" name="saveForm" type="submit" value="Redeem">
                        </div>
                    </li>
                </ul>
                <div>
                    <a class="contact" href="mailto:POB@Daymondjohn.com">For Questions Please Email POB@Daymondjohn.com</a>
                </div>
                <div style="display:none;">
                    <input id="currentPage" name="currentPage" type="hidden" value="zVdQkoYfXNLcUrRWdQjmS77wuBe5CX1ebWnPOTpFRkLbBY=">
                    <input id="idstamp" name="idstamp" type="hidden" value="2sxTraLD0yVavPpOVzRZZ4d0kgI/p75+GQ2rCSxxWVw=">
                </div>
            </form>
        </div><!-- /.modal-inner -->
    </div><!-- /.modal -->
                                            
                                              <!--===============
  Bulk Purchase Form
  ================-->
    <div class="modal" id="bulk-purchase">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h3>Bulk Order</h3>
            <h2>The Power of Broke</h2>
            <!-- <p>for Daymond's book, "The Power of Broke"</p> -->

            <form accept-charset="UTF-8" action="https://daymondjohn.wufoo.com/forms/pn61ck10je0rwl/" autocomplete="off" class="wufoo topLabel page1" enctype="multipart/form-data" id="form7" method="post" name="form7" novalidate="">
                <ul>
                    <li class="notranslate" id="fo7li1">
                        <label class="desc" for="Field1" id="title1">
                            First Name
                            <span class="req" id="req_1">*</span>
                        </label>
                        <div>
                            <input class="field text medium" id="Field1" maxlength="255" name="Field1" onchange="handleInput(this);" onkeyup="handleInput(this); " required="" tabindex="1" type="text" value="">
                        </div>
                    </li>
                    <li class="notranslate      " id="fo7li2">
                        <label class="desc" for="Field2" id="title2">
                            Last Name
                            <span class="req" id="req_2">*</span>
                        </label>
                        <div>
                            <input class="field text medium" id="Field2" maxlength="255" name="Field2" onchange="handleInput(this);" onkeyup="handleInput(this); " required="" tabindex="2" type="text" value="">
                        </div>
                    </li>
                    <li class="notranslate      " id="fo7li4">
                        <label class="desc" for="Field4" id="title4">
                            Email Address
                            <span class="req" id="req_4">*</span>
                        </label>
                        <div>
                            <input class="field text medium" id="Field4" maxlength="255" name="Field4" onchange="handleInput(this);" onkeyup="handleInput(this);" required="" spellcheck="false" tabindex="3" type="email" value="">
                        </div>
                    </li>
                    <li class="notranslate       focused" id="fo7li25">
                        <label class="desc" for="Field25" id="title25">
                            Company
                        </label>
                        <div>
                            <input class="field text medium" id="Field25" maxlength="255" name="Field25" onchange="handleInput(this);" onkeyup="handleInput(this); " tabindex="4" type="text" value="">
                        </div>
                    </li>
                    <li class="notranslate focused no-border radios" id="fo7li27">
                        <label for="booking_company_type_self">Number of Books to Purchase</label>

                        <div>
                            <input id="radioDefault_27" name="Field27" type="hidden" value="">
                            <span>
                                <input checked="checked" class="field radio" id="Field27_0" name="Field27" onchange="handleInput(this);" onmouseup="handleInput(this);" tabindex="5" type="radio" value="500">
                                <label class="choice" for="Field27_0">
                                    <span class="choice__text">500</span>
                                    <span class="choice__qty"></span>
                                </label>
                            </span>
                            <span>
                                <input class="field radio" id="Field27_1" name="Field27" onchange="handleInput(this);" onmouseup="handleInput(this);" tabindex="6" type="radio" value="1000">
                                <label class="choice" for="Field27_1">
                                    <span class="choice__text">1000</span>
                                    <span class="choice__qty"></span>
                                </label>
                            </span>
                            <span>
                                <input class="field radio" id="Field27_2" name="Field27" onchange="handleInput(this);" onmouseup="handleInput(this);" tabindex="7" type="radio" value="4000">
                                <label class="choice" for="Field27_2">
                                    <span class="choice__text">4000</span>
                                    <span class="choice__qty"></span>
                                </label>
                            </span>
                        </div>
                    </li>
                    <li class="buttons ">
                        <div>
                            <input id="currentPage" name="currentPage" type="hidden" value="zVdQkoYfXNLcUrRWdQjmS77wuBe5CX1ebWnPOTpFRkLbBY=">
                            <input class="btTxt submit button" id="saveForm" name="saveForm" onmousedown="doSubmitEvents();" type="submit" value="Submit">
                        </div>
                    </li>
                </ul>
                <div style="display:none;">
                    <input id="idstamp" name="idstamp" type="hidden" value="gLKyrcl3tpWNNRRBIqSYNxIotQ4KJguKF85NNAC+MPg=">
                </div>
            </form>
        </div><!-- .modal-inner -->
    </div><!-- .modal#bulk-purchase -->
                                            	
                                              <!--===============
  POB Chapter + Guide Download
  ================-->
    <div class="modal" id="pob-chapter-download">
        <div class="modal-inner">
            <span class="close-modal modal-close"></span>
            <h3>Download</h3>
            <h2>Shark Point Guide</h2>
            <p>Sharpen Your Shark Points</p>
            <form accept-charset="UTF-8" action="https://daymondjohn.infusionsoft.com/app/form/process/35de3348605bc98cc41a0849fdeab523" class="infusion-form" id="inf_form_35de3348605bc98cc41a0849fdeab523" method="POST">
                <input name="inf_form_xid" type="hidden" value="35de3348605bc98cc41a0849fdeab523"/>
                <input name="inf_form_name" type="hidden" value="POB FREE CHAPTER~br~+ Shark Points Guide"/>
                <input name="infusionsoft_version" type="hidden" value="1.70.0.239947"/>
                <div class="infusion-field">

                    <input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="First Name" type="text"/>
                </div>
                <div class="infusion-field">

                    <input class="infusion-field-input" id="inf_field_LastName" name="inf_field_LastName" placeholder="Last Name" type="text"/>
                </div>
                <div class="infusion-field">
                    <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email" type="text"/>
                </div>
                <div class="">
                    <label for="inf_option_HowdidyouhearaboutthePowerofBroke">How did you hear about the Power of Broke?</label>
                    <div class="infusion-radio">
                        <div class="options-container">
                            <span class="infusion-option">
                                <input id="inf_option_HowdidyouhearaboutthePowerofBroke_2522" name="inf_option_HowdidyouhearaboutthePowerofBroke" type="radio" value="2522"/>
                                <label for="inf_option_HowdidyouhearaboutthePowerofBroke_2522">Search Engine</label>
                            </span>
                            <span class="infusion-option">
                                <input id="inf_option_HowdidyouhearaboutthePowerofBroke_2524" name="inf_option_HowdidyouhearaboutthePowerofBroke" type="radio" value="2524"/>
                                <label for="inf_option_HowdidyouhearaboutthePowerofBroke_2524">Social Media</label>
                            </span>
                            <span class="infusion-option">
                                <input id="inf_option_HowdidyouhearaboutthePowerofBroke_2526" name="inf_option_HowdidyouhearaboutthePowerofBroke" type="radio" value="2526"/>
                                <label for="inf_option_HowdidyouhearaboutthePowerofBroke_2526">Friend</label>
                            </span>
                            <span class="infusion-option">
                                <input id="inf_option_HowdidyouhearaboutthePowerofBroke_2528" name="inf_option_HowdidyouhearaboutthePowerofBroke" type="radio" value="2528"/>
                                <label for="inf_option_HowdidyouhearaboutthePowerofBroke_2528">Advertisement</label>
                            </span>
                            <span class="infusion-option">
                                <input id="inf_option_HowdidyouhearaboutthePowerofBroke_2530" name="inf_option_HowdidyouhearaboutthePowerofBroke" type="radio" value="2530"/>
                                <label for="inf_option_HowdidyouhearaboutthePowerofBroke_2530">Bookstore</label>
                            </span>
                            <span class="infusion-option">
                                <input id="inf_option_HowdidyouhearaboutthePowerofBroke_2532" name="inf_option_HowdidyouhearaboutthePowerofBroke" type="radio" value="2532"/>
                                <label for="inf_option_HowdidyouhearaboutthePowerofBroke_2532">Event</label>
                            </span>
                            <span class="infusion-option">
                                <input id="inf_option_HowdidyouhearaboutthePowerofBroke_2536" name="inf_option_HowdidyouhearaboutthePowerofBroke" type="radio" value="2536"/>
                                <label for="inf_option_HowdidyouhearaboutthePowerofBroke_2536">Forum or Blog</label>
                            </span>
                            <span class="infusion-option">
                                <input id="inf_option_HowdidyouhearaboutthePowerofBroke_2534" name="inf_option_HowdidyouhearaboutthePowerofBroke" type="radio" value="2534"/>
                                <label for="inf_option_HowdidyouhearaboutthePowerofBroke_2534">Other</label>
                            </span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="">
                    <label for="inf_option_DoYouownacopyofthebook">Do You own a copy of the book?</label>
                    <div class="infusion-radio">
                        <div class="options-container">
                            <span class="infusion-option">
                                <input id="inf_option_DoYouownacopyofthebook_2538" name="inf_option_DoYouownacopyofthebook" type="radio" value="2538"/>
                                <label for="inf_option_DoYouownacopyofthebook_2538">Yes</label>
                            </span>
                            <span class="infusion-option">
                                <input id="inf_option_DoYouownacopyofthebook_2540" name="inf_option_DoYouownacopyofthebook" type="radio" value="2540"/>
                                <label for="inf_option_DoYouownacopyofthebook_2540">No</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div>&nbsp;</div>
                </div>
                <div class="infusion-submit">
                    <button class="infusion-recaptcha" id="recaptcha_35de3348605bc98cc41a0849fdeab523" type="submit">Submit</button>
                </div>
            </form>
            <script src="https://daymondjohn.infusionsoft.app/app/webTracking/getTrackingCode" type="text/javascript"></script>
            <script src="https://daymondjohn.infusionsoft.com/resources/external/recaptcha/production/recaptcha.js?b=1.70.0.239947-hf-202005271547" type="text/javascript"></script>
            <script async="async" defer="defer" src="https://www.google.com/recaptcha/api.js?onload=onloadInfusionRecaptchaCallback&render=explicit"></script>
            <script src="https://daymondjohn.infusionsoft.com/app/timezone/timezoneInputJs?xid=35de3348605bc98cc41a0849fdeab523" type="text/javascript"></script>
        </div><!-- /.modal-inner -->
    </div><!-- /.modal -->


</div><!-- /.modals -->

<a class="button open-modal" data-modal="thanks" href="#thanks" id="thanks-trigger" style="display:none;">thanks</a>