<section id="partners" class="dark">
	<div class="contain">
		<h2><strong>Featured</strong> Partners</h2>
		<div class="logos">
			<div class="contian">
				<ul class="logo-list">
					<li><a href="http://abc.go.com/shows/shark-tank" target="_blank" class="shark-tank">Shark Tank</a></li>
					<li><a href="http://www.foxbusiness.com" target="_blank" class="fox-business">Fox Business</a></li>
					<li><a href="http://www.cnn.com" target="_blank" class="cnn">CNN</a></li>
					<li><a href="http://www.cnbc.com" target="_blank" class="cnbc">CNBC</a></li>
					<li><a href="http://www.adweek.com" target="_blank" class="adweek">ADWEEK</a></li>
					<li><a href="http://www.nytimes.com" target="_blank" class="new-york-times">New York Times</a></li>
					<li><a href="http://www.usatoday.com" target="_blank" class="usa-today">USA Today</a></li>
					<li><a href="http://www.blackenterprise.com" target="_blank" class="black-enterprise">Black Enterprise</a></li>
					<li><a href="http://mogulsmobile.com" target="_blank" class="moguls-mobile">Moguls Mobile</a></li>
					<li><a href="http://www.babson.edu" target="_blank" class="babson">Babson</a></li>
					<li><a href="http://www.sharkbranding.com" target="_blank" class="shark-branding">Shark Branding</a></li>
					<li><a href="https://www.shopify.com" target="_blank" class="shopify">Shopify</a></li>
				</ul>
			</div><!-- /.contain -->
		</div><!--/.logos -->
	</div><!-- /.contain -->
</section><!-- #partners -->