<div class="social-footer">
	<h2><strong>Tell us how you exercised the</strong> #POWEROFBROKE</h2>
	<form name="form8" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://daymondjohn.wufoo.com/forms/x2w202t0hdn2em/#public">
		<input type="text" name="Field1" placeholder="First name" />
		<input type="text"name="Field2" placeholder="Last name" />
		<input type="email" name="Field3" placeholder="Email Address" />
		<textarea name="Field4" placeholder="Tell Us Your Story ( please keep your story under 700 words )"></textarea>
		<input type="hidden" id="idstamp" name="idstamp" value="u5d2vr1iaH/+XGbrE73N+hUe/IPEmw4tRa9rW1TihRU=" />
		<input type="submit" class="button wide" value="submit" />
	</form>
</div><!-- /.social-footer -->