<style>
	.social-footer form input[type='text'],
    .social-footer form textarea{
		width: calc(50% - -100px) !important;
		margin: 15px auto !important;
		float: none;
	}
	.social-footer form button{
		color: #000;
	}
	.social-footer form button:hover{
		color: #fff;
	}
</style>


<div class="social-footer">
    <h2>
        <strong>Tell us how you exercised the</strong>
        #POWEROFBROKE</h2>
    <!-- <form name="form8" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://daymondjohn.wufoo.com/forms/x2w202t0hdn2em/#public">
		<input type="text" name="Field1" placeholder="First name" />
		<input type="text"name="Field2" placeholder="Last name" />
		<input type="email" name="Field3" placeholder="Email Address" />
		<textarea name="Field4" placeholder="Tell Us Your Story ( please keep your story under 700 words )"></textarea>
		<input type="hidden" id="idstamp" name="idstamp" value="u5d2vr1iaH/+XGbrE73N+hUe/IPEmw4tRa9rW1TihRU=" />
		<input type="submit" class="button wide" value="submit" />
	</form> -->

    <form accept-charset="UTF-8" action="https://daymondjohn.infusionsoft.com/app/form/process/a58c9633df39bffef91b64b8bfa5db61" class="infusion-form" id="inf_form_a58c9633df39bffef91b64b8bfa5db61" method="POST">
        <input name="inf_form_xid" type="hidden" value="a58c9633df39bffef91b64b8bfa5db61" />
        <input name="inf_form_name" type="hidden" value="POB Story" />
        <input name="infusionsoft_version" type="hidden" value="1.70.0.239947" />
        <div class="infusion-field">
            <input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="First Name" type="text" />
        </div>
        <div class="infusion-field">
            <input class="infusion-field-input" id="inf_field_LastName" name="inf_field_LastName" placeholder="Last Name" type="text" />
        </div>
        <div class="infusion-field">
            <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email" type="text" />
        </div>
        <label for="inf_custom_Whatisyourpowershift1">Tell Us Your Story</label>
        <div class="infusion-field">
            <textarea cols="24" id="inf_custom_Whatisyourpowershift1" name="inf_custom_Whatisyourpowershift1" placeholder="Tell Us Your Story" rows="5"></textarea></div>
        <div>
            <div>&nbsp;</div>
        </div>
        <div class="infusion-submit">
            <button class="infusion-recaptcha" id="recaptcha_a58c9633df39bffef91b64b8bfa5db61" type="submit">Submit</button>
        </div>
    </form>
    <script type="text/javascript" src="https://daymondjohn.infusionsoft.app/app/webTracking/getTrackingCode"></script>
    <script type="text/javascript" src="https://daymondjohn.infusionsoft.com/resources/external/recaptcha/production/recaptcha.js?b=1.70.0.239947-hf-202005271547"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadInfusionRecaptchaCallback&render=explicit" async="async" defer="defer"></script>
    <script type="text/javascript" src="https://daymondjohn.infusionsoft.com/app/timezone/timezoneInputJs?xid=a58c9633df39bffef91b64b8bfa5db61"></script>
</div><!-- /.social-footer -->
