<style>
.category-wrapper{
    width: 100%;
}
</style>

<div class="category-wrapper tabs contain mobile">
    <div class="category-container">
      {% section 'collections-external-dod' %}
      {% section 'collections-external' %}
      {% section 'collections' %}
       <div class="clearfix spacer"></div>
    </div>
</div>

{% include 'social-footer' %}