<style>
form li span {
    margin: 0 .3em 0 0;
    padding: 0;
    float: left;
    color: #444;
}
    
form li div label, form li span label {
    margin: 0;
    padding-top: 3px;
    clear: both;
    font-size: 85%;
    line-height: 160%;
    color: #444;
    display: block;
} 
    
</style>

<form accept-charset="UTF-8" action="https://daymondjohn.infusionsoft.com/app/form/process/c1ee5fa9ba86d63e62579d768ed0a463" class="infusion-form" id="inf_form_c1ee5fa9ba86d63e62579d768ed0a463" method="POST">

    <input name="inf_form_xid" type="hidden" value="c1ee5fa9ba86d63e62579d768ed0a463"/>
    <input name="inf_form_name" type="hidden" value="PS Workbook - Negotiate"/>
    <input name="infusionsoft_version" type="hidden" value="1.70.0.194774"/>

    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="First Name" type="text"/>
    </div>

    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email" type="text"/>
    </div>

    <div>
        <div>&nbsp;</div>
    </div>

    <div class="infusion-submit">
        <button class="infusion-recaptcha" type="submit">Submit</button>
    </div>

</form>

<script src="https://daymondjohn.infusionsoft.app/app/webTracking/getTrackingCode" type="text/javascript"></script>
<script src="https://daymondjohn.infusionsoft.com/resources/external/recaptcha/production/recaptcha.js?b=1.70.0.194774" type="text/javascript"></script>
<script async="async" defer="defer" src="https://www.google.com/recaptcha/api.js?onload=onloadInfusionRecaptchaCallback&render=explicit"></script>
<script src="https://daymondjohn.infusionsoft.com/app/timezone/timezoneInputJs?xid=c1ee5fa9ba86d63e62579d768ed0a463" type="text/javascript"></script>