<ul class="social-icons">
  <li><a href="https://twitter.com/TheSharkDaymond" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://www.facebook.com/TheSharkDaymond" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://instagram.com/thesharkdaymond/" target="_blank"><i class="fa fa-instagram"></i></a></li>
  <li><a href="https://www.youtube.com/user/TheSharkDaymond" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
  <li><a href="https://www.linkedin.com/in/daymondjohn" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
</ul><!-- .social-icons -->