<style>
  
form li span {
  margin: 0 .3em 0 0;
  padding: 0;
  float: left;
  color: #444;
}
  
form li div label, form li span label {
  margin: 0;
  padding-top: 3px;
  clear: both;
  font-size: 85%;
  line-height: 160%;
  color: #444;
  display: block;
} 
div.infusion-field textarea{
  display: block;
  width: 100%;
  height: auto;
  border: none;
  -webkit-appearance: none;
  outline: none;
  padding: 10px 15px;
}
  
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/css/pikaday.min.css" rel="stylesheet" type="text/css"/>
<form accept-charset="UTF-8" action="https://daymondjohn.infusionsoft.com/app/form/process/4a1b78a0fd7d49bb818db4a1912fc4e2" class="infusion-form" class="speaking-form" id="inf_form_4a1b78a0fd7d49bb818db4a1912fc4e2" method="POST">
    <input name="inf_form_xid" type="hidden" value="4a1b78a0fd7d49bb818db4a1912fc4e2"/>
    <input name="inf_form_name" type="hidden" value="DJ.com Book Daymond For Speaking"/>
    <input name="infusionsoft_version" type="hidden" value="1.70.0.225335"/>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="First Name" type="text"/>
    </div>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_LastName" name="inf_field_LastName" placeholder="Last Name" type="text"/>
    </div>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email" type="text"/>
    </div>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_Company" name="inf_field_Company" placeholder="Company / Association Name" type="text"/>
    </div>

    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_Phone1" name="inf_field_Phone1" placeholder="Phone" type="text"/>
    </div>
    <br/>
    <label for="inf_custom_DateBooked">Date of proposed event</label>
    <div class="infusion-field">
        <div class="infusion-calendar-wrapper">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/pikaday.min.js" type="text/javascript"></script>
            <input class="infusion-field-input-container infusion-date-input" id="inf_custom_DateBooked" name="inf_custom_DateBooked" onkeydown="if(pressDate){return pressDate(event,this,false)}" placeholder="Date of proposed event" size="10px" type="text"/>
            <div class="calendar-picker-container">
                <div class="pikaday-container" id="inf_custom_DateBooked_calContainer"></div>
                <script>var inf_custom_DateBookedDatePicker = new Pikaday({container: document.getElementById('inf_custom_DateBooked_calContainer'),field: document.getElementById('inf_custom_DateBooked'),format:'MM-DD-YYYY'});var inf_custom_DateBookedIcon = document.getElementById('inf_custom_DateBooked_img');inf_custom_DateBookedIcon.addEventListener('click', function(){inf_custom_DateBookedDatePicker.show();});</script>
            </div>
        </div>
    </div>
    <br/>
    <label for="inf_custom_TopicofEvent1">Topic of Event</label>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_custom_TopicofEvent1" name="inf_custom_TopicofEvent1" placeholder="Topic of Event" type="text"/>
    </div>
    <label for="inf_custom_Whatisyourbudgetforthisproject">Dedicated budget</label>
    <div class="">
        <div class="infusion-field-input-container">
            <select id="inf_custom_Whatisyourbudgetforthisproject" name="inf_custom_Whatisyourbudgetforthisproject">
                <option value="">Please select one</option>
                <option value="500-5000">500-5000</option>
                <option value="5000-14999">5000-14999</option>
                <option value="15000-44999">15000-44999</option>
                <option value="45000-74999">45000-74999</option>
                <option value="75000-100000">75000-100000</option>
                <option value="100000-149999">100000-149999</option>
                <option value="150000-249999">150000-249999</option>
                <option value="250000-500000">250000-500000</option>
                <option value="500000+">500000+</option>
            </select>
        </div>
    </div>
    <br/>
    <label for="inf_custom_Pleaseincludeadditionalinformationandorspecialrequests">Please include additional information and/or special requests</label>
    <div class="infusion-field">

        <textarea class="infusion-field-input" cols="24" id="inf_custom_Pleaseincludeadditionalinformationandorspecialrequests" name="inf_custom_Pleaseincludeadditionalinformationandorspecialrequests" placeholder="Please include additional information and/or special requests" rows="5"></textarea>
    </div>
    <div class="infusion-submit">
        <button class="infusion-recaptcha" id="speaking-submitForm" type="submit">Submit</button>
    </div>
</form>
<script src="https://daymondjohn.infusionsoft.app/app/webTracking/getTrackingCode" type="text/javascript"></script>
<script src="https://daymondjohn.infusionsoft.com/app/timezone/timezoneInputJs?xid=4a1b78a0fd7d49bb818db4a1912fc4e2" type="text/javascript"></script>

<script>
    (function () {
        let numOfEmptyFields = 0;
        let firstName,
            lastName,
            email;
        firstName = $(".speaking-form #inf_field_FirstName")
        lastName = $(".speaking-form #inf_field_LastName")
        email = $(".speaking-form #inf_field_Email")

        const genRequirement = [firstName, lastName, email]

        document.getElementById("speaking-submitForm").addEventListener("click", (e) => {
            genRequirement.forEach(require => {
                if (require.val() === "" || require.val() === null) 
                    return numOfEmptyFields++;
                

            })

            if (numOfEmptyFields <= 0) {
                e.preventDefault();
                $(".speaking-form").css("display", "none")
                $("#general-confirmation-container").css("display", "block")
            }

        }, false)

    })(jQuery)
</script>