<div  data-type="vimeo" data-video-id="{{ block.settings.vimeo-video-id }}"></div>


<script src="https://cdn.plyr.io/2.0.13/plyr.js"></script>
<script type="text/javascript">
var _player = plyr.setup({
  autoplay: true,
  controls: ['fullscreen']
});


</script>
