<form accept-charset="UTF-8" action="https://daymondjohn.infusionsoft.com/app/form/process/8c19dce86fac0830012a745a2735f2b0" class="infusion-form" class="workWithDaymond-form" id="inf_form_8c19dce86fac0830012a745a2735f2b0" method="POST">
    <input name="inf_form_xid" type="hidden" value="8c19dce86fac0830012a745a2735f2b0"/>
    <input name="inf_form_name" type="hidden" value="DJ.com Work with Daymond"/>
    <input name="infusionsoft_version" type="hidden" value="1.70.0.194774"/>
    <label for="inf_field_FirstName">First Name</label>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="First Name" type="text"/>
    </div>
    <label for="inf_field_LastName">Last Name</label>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_LastName" name="inf_field_LastName" placeholder="Last Name" type="text"/>
    </div>
    <label for="inf_field_Email">Email</label>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email" type="text"/>
    </div>
    <div>
        <div>&nbsp;</div>
    </div>
    <label for="inf_field_JobTitle">Job Title</label>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_JobTitle" name="inf_field_JobTitle" placeholder="Job Title" type="text"/>
    </div>
    <label for="inf_field_Company">Company</label>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_Company" name="inf_field_Company" placeholder="Company" type="text"/>
    </div>
    <label for="inf_field_Phone1">Phone</label>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_Phone1" name="inf_field_Phone1" placeholder="Phone" type="text"/>
    </div>
    <label for="inf_field_Website">Company Website</label>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_field_Website" name="inf_field_Website" placeholder="Company Website" type="text"/>
    </div>
    <div class="infusion-field-no-input">
        <label for="inf_custom_HowcanIhelpyou2">What services are you interested in learning more about?</label>
        <div class="infusion-radio">
            <div class="options-container">
                <span class="infusion-option">
                    <input id="inf_custom_HowcanIhelpyou2_Branding Services" name="inf_custom_HowcanIhelpyou2" type="radio" value="Branding Services"/>
                    <label for="inf_custom_HowcanIhelpyou2_Branding Services">Branding Services</label>
                </span>
                <span class="infusion-option">
                    <input id="inf_custom_HowcanIhelpyou2_Speaking Engagements" name="inf_custom_HowcanIhelpyou2" type="radio" value="Speaking Engagements"/>
                    <label for="inf_custom_HowcanIhelpyou2_Speaking Engagements">Speaking Engagements</label>
                </span>
                <span class="infusion-option">
                    <input id="inf_custom_HowcanIhelpyou2_Online mentorship" name="inf_custom_HowcanIhelpyou2" type="radio" value="Online mentorship"/>
                    <label for="inf_custom_HowcanIhelpyou2_Online mentorship">Online mentorship</label>
                </span>
                <span class="infusion-option">
                    <input id="inf_custom_HowcanIhelpyou2_Inner circle" name="inf_custom_HowcanIhelpyou2" type="radio" value="Inner circle"/>
                    <label for="inf_custom_HowcanIhelpyou2_Inner circle">Inner circle</label>
                </span>
                <span class="infusion-option">
                    <input id="inf_custom_HowcanIhelpyou2_GCM" name="inf_custom_HowcanIhelpyou2" type="radio" value="GCM"/>
                    <label for="inf_custom_HowcanIhelpyou2_GCM">GCM</label>
                </span>
                <span class="infusion-option">
                    <input id="inf_custom_HowcanIhelpyou2_Other" name="inf_custom_HowcanIhelpyou2" type="radio" value="Other"/>
                    <label for="inf_custom_HowcanIhelpyou2_Other">Other</label>
                </span>
            </div>
        </div>
    </div>
    <div class="infusion-field-no-input">
        <label for="inf_custom_Whatisyourbudgetforthisproject">What is your budget for this project?</label>
        <div class="infusion-field-input-container">
            <select id="inf_custom_Whatisyourbudgetforthisproject" name="inf_custom_Whatisyourbudgetforthisproject">
                <option value="">Please select one</option>
                <option value="500-5000">500-5000</option>
                <option value="5000-14999">5000-14999</option>
                <option value="15000-44999">15000-44999</option>
                <option value="45000-74999">45000-74999</option>
                <option value="75000-100000">75000-100000</option>
                <option value="100000-149999">100000-149999</option>
                <option value="150000-249999">150000-249999</option>
                <option value="250000-500000">250000-500000</option>
                <option value="500000+">500000+</option>
            </select>
        </div>
    </div>
    <label for="inf_custom_HowcanIhelpyou">What are you contacting us regarding?</label>
    <div class="infusion-field">
        <input class="infusion-field-input" id="inf_custom_HowcanIhelpyou" name="inf_custom_HowcanIhelpyou" placeholder="What are you contacting us regarding?" type="text"/>
    </div>
    <div class="infusion-submit">
        <button class="infusion-recaptcha" id="workWithDaymond-submitForm" type="submit">Submit</button>
    </div>
</form>
<script src="https://daymondjohn.infusionsoft.app/app/webTracking/getTrackingCode" type="text/javascript"></script>
<script src="https://daymondjohn.infusionsoft.com/app/timezone/timezoneInputJs?xid=8c19dce86fac0830012a745a2735f2b0" type="text/javascript"></script>

<script>
    (function () {
        let numOfEmptyFields = 0;
        let firstName,
            lastName,
            email;
        firstName = $(".workWithDaymond-form #inf_field_FirstName")
        lastName = $(".workWithDaymond-form #inf_field_LastName")
        email = $(".workWithDaymond-form #inf_field_Email")

        const genRequirement = [firstName, lastName, email]

        document.getElementById("workWithDaymond-submitForm").addEventListener("click", (e) => {
            genRequirement.forEach(require => {
                if (require.val() === "" || require.val() === null) 
                    return numOfEmptyFields++;
                
            })

            if (numOfEmptyFields <= 0) {
                e.preventDefault();
                $(".workWithDaymond-form").css("display", "none")
                $("#general-confirmation-container").css("display", "block")
            }

        }, false)

    })(jQuery)
</script>