<style>
 #content{
     padding: 0 5px;
 }
</style>

<section>
    <div id="content" class="group">
        <div class="container content-container">
            {% section 'book-page-content' %}
            {% section 'book-vendors' %}
            {% section 'book-forms' %}
            <div class="carousel-container">
                {% section 'book-carousel'%}
            </div>
        </div>
    </div>
</section>
