{% assign content = page.content | split: '<!-- split -->'  %}
<header>
	<div class="contain narrow">
		<h2>Engagement</h2>
		<h1>{{ page.title }}</h1>
	</div><!-- /.contain -->
	{% capture featured_image %}featured-{{page.handle}}.jpg{%endcapture%}
	<div class="header-image" style="background-image: url({{ featured_image | file_url  }});"></div><!-- /.header-image -->
</header>
<div>
	<div class="post-content contain narrow">
		{{ content[0] }}
		<span class="button on-light open-modal" data-modal="consulting">Book Daymond</span>
	</div><!-- .post-content -->
</div><!-- /.contain -->


{% include 'partners' %}

{% include 'social-footer' %}
